.headerContainer {
  display: flex;
  justify-content: space-between;
}
.saveBtnContainer {
  margin: 20px 0;
}
.textField {
  display: block;
  margin: 20px 0;
}
.addSplitRuleBtnContainer {
  display: flex;
  justify-content: center;
}
.costBreakdownContainer {
  margin: 20px 0;
}
.splitAgreementContainer {
  margin: 20px 0;
}
.splitArgeementTable {
  table-layout: fixed;
}
.splitArgeementCellRemove {
  padding-left: 0;
  padding-right: 0;
  width: 40px;
}
.splitArgeementCellSelect {
  padding-left: 0;
}
